p {
    font-size: 40px;
    color: fuchsia ;
}
buttom {
    color: aqua;
}
body {
    background-color: cyan;
}
 .output {
    color: rgb(243, 23, 34);
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
 }
